* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: Inter;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

h1 {
  font-size: 54px;
  font-weight: 700;
}
h2 {
  font-size: 45px;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}

p,
span,
button,
a {
  font-size: 18px;
  font-weight: 400;
}

button {
  padding: 8px 15px;
  border-radius: 10px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* высота на весь экран */
}

.content {
  flex: 1; /* главный контент занимает всё доступное пространство */
}
